<launch>
    <arg name="world_path" default="$(env HOME)/ws/gezogo-guosai/gazebo_px4_nationals/generated/seed_2026/nationals_field.world" />
    <arg name="layout_path" default="$(env HOME)/ws/gezogo-guosai/gazebo_px4_nationals/generated/seed_2026/layout.json" />
    <arg name="waypoints_path" default="$(find mission_planner)/data/nationals_seed_2026.txt" />
    <arg name="gui" default="true" />
    <arg name="rviz" default="true" />
    <arg name="paused" default="false" />

    <param name="/use_sim_time" value="false" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_path)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)" />
        <arg name="use_sim_time" value="false" />
    </include>

    <node pkg="gazebo_ros" name="spawn_super_mock_drone" type="spawn_model"
          args="-sdf -file $(find mission_planner)/models/super_mock_drone/model.sdf -model super_mock_drone -x 3.0 -y 1.0 -z 1.0"
          output="screen" />

    <include file="$(find mission_planner)/launch/nationals_super_mock.launch">
        <arg name="layout_path" value="$(arg layout_path)" />
        <arg name="waypoints_path" value="$(arg waypoints_path)" />
        <arg name="run_validator" value="false" />
        <arg name="keep_running" value="true" />
    </include>

    <node pkg="mission_planner" name="gazebo_mock_drone_pose_bridge"
          type="gazebo_mock_drone_pose_bridge.py" output="screen">
        <param name="model_name" value="super_mock_drone" type="string" />
        <param name="frame_id" value="world" type="string" />
        <param name="update_rate" value="30.0" type="double" />
    </node>

    <node pkg="mission_planner" name="nationals_waypoint_marker"
          type="nationals_waypoint_marker.py" output="screen">
        <param name="waypoints_path" value="$(arg waypoints_path)" type="string" />
        <param name="layout_path" value="$(arg layout_path)" type="string" />
        <param name="frame_id" value="world" type="string" />
    </node>

    <node if="$(arg rviz)" pkg="rviz" name="nationals_gazebo_mock_rviz" type="rviz"
          args="-d $(find mission_planner)/rviz/nationals_gazebo_mock.rviz" output="screen" />
</launch>
