<launch>
    <arg name="planner_config_name" default="super_drone_ros1.yaml" />
    <arg name="mission_config_name" default="super_drone_nationals_mock.yaml" />
    <arg name="layout_path" default="$(env HOME)/ws/gezogo-guosai/gazebo_px4_nationals/generated/seed_2026/layout.json" />
    <arg name="waypoints_path" default="$(find mission_planner)/data/nationals_seed_2026.txt" />
    <arg name="frame_id" default="world" />
    <arg name="cloud_publish_rate" default="5.0" />
    <arg name="point_resolution" default="0.25" />
    <arg name="boundary_resolution" default="0.10" />
    <arg name="start_relay" default="true" />
    <arg name="start_layout_cloud" default="true" />
    <arg name="start_super" default="true" />
    <arg name="start_mission" default="true" />

    <param name="/use_sim_time" value="false" />

    <node if="$(arg start_relay)" pkg="topic_tools" name="mavros_odom_to_odom_high_freq"
          type="relay" args="/mavros/local_position/odom /Odom_high_freq" output="screen" />

    <node if="$(arg start_layout_cloud)" pkg="mission_planner" name="nationals_layout_cloud_publisher"
          type="nationals_layout_cloud_publisher.py" output="screen">
        <param name="layout_path" value="$(arg layout_path)" type="string" />
        <param name="frame_id" value="$(arg frame_id)" type="string" />
        <param name="publish_rate" value="$(arg cloud_publish_rate)" type="double" />
        <param name="point_resolution" value="$(arg point_resolution)" type="double" />
        <param name="boundary_resolution" value="$(arg boundary_resolution)" type="double" />
    </node>

    <node if="$(arg start_super)" pkg="super_planner" name="fsm_node" type="fsm_node" output="screen">
        <param name="config_name" value="$(arg planner_config_name)" type="string" />
    </node>

    <node if="$(arg start_mission)" pkg="mission_planner" name="super_drone_mission" type="super_drone_mission" output="screen">
        <param name="config_name" value="$(arg mission_config_name)" type="string" />
        <param name="data_path" value="$(arg waypoints_path)" type="string" />
    </node>
</launch>
